
  body{
  	background-color:#fbf9f9;

    }






  .chip {
    display: inline-block;
    padding:5px;
    padding-right: 7px;
    font-size: 13px;
    border-radius: 25px;
    border: 1px solid rgba(119,30,82,0.3);
    margin-bottom: 10px;
    width:100%;

  }


  .chip img {
    float: left;
    margin: 5px 5px 5px 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }

  .zoom {
    transition: transform .2s; /* Animation */
    
    margin: 0;
  }
  .zoom2 {
    transition: transform .2s; /* Animation */
    
    margin: 0;
  }

  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .zoom2:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    background-color: rgba(119,30,82,0.8);
    color:white;
  }


    .cover{
    /* Background image is centered vertically and horizontally at all times */
    background-position: left center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
       while the background image is loading */

  }

  .container2 {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
  }


  .bg-hello{
  	background-color: #F4EAE6;
  	color:white;

  }

  .bg-transparent{
  	background-color: white;
  	opacity:0.9;
  	}
  .bg-maroon{
    background-color: #F4EAE6;
    color:white;
    }

  .card-img-top{
  	background-color: #efefed;
    width:20%;

  }

  .navbar-center {
  	position: absolute;
      left: 50%;
      transform: translatex(-50%);
  	}

  .img-circle {
  	border-radius:50%;
  	max-width: 75px;

  }

  .bg-nav  {
    background-color:#fbf9f9;


  }
  .header  {
    background-color:#fbf9f9 ;



  }

  .jumbotron {
    color:#010e3b;
    padding:2rem 2rem;
    margin-bottom:1rem;
    border-radius:.3rem
    
  }
  .lead {
    color:#010e3b;
    

  }

  .sticky-top2{
    position:-webkit-sticky;
    position:sticky;
    top:50px;
    z-index:1020;}
}

  .bg-landing {
  	background-color: #c0c6cc;
  }
  .button-center{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }




  .card {
    background-color:#fbf9f9;
    margin: 0px;
    padding:20px;
    border: 0px solid #ccc;
    float:left; 
    border-radius: 0.25rem;

  }
 .card-body {
    background-color:#fbf9f9;
    margin: 0px;
    padding:10px;
    border: 0px solid #ccc;
    float:left; 
    border-radius: 0.25rem;

  }

  .fa {
    padding: 10px;
    margin:10px;
    margin-bottom: 10px;
    font-size: 50px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color:#efefed;
    background-color:#771E52;

  }
  .fa:hover {
  	background-color:#efefed;
  	color:#771E52;
  }

  .a-hello{
  	background-color:white;
  	color:#771E52;
  }

  .a-hello:hover{
  	color:white;
  	background-color:#771E52;
  }

  .btn {
  	background-color:#771E52;
  	color:#fbf9f9;
    margin-right: auto;
    margin-left:auto;
  }

  .btn-group{
    width:100%;
  }

  .btn:hover{
  	color:#771E52;
  	background-color:#fbf9f9;
  }

  .border-light {
    border: 0px;
    border-color:none;
  }


  .nav-link {
    color: #771E52;
    font-size: 15px;
  }


  .nav-link:hover {
    color: #771E52;
    text-decoration:underline;
    transition: all 0.5s ease;
  }

  .tablink {
    
    color:#771E52;
  }

  .tablink:hover {
    
    
    
  }

.tab{
background-color:#771E52;
}
.tabwithin {
    padding: 5px;
    color:#fbf9f9;
    border: 0px solid #771E52;
    background-color: #771E52;
    font-size: 14px;

  }
  .tab button.active {
  background-color: #fbf9f9;
   color: #771E52;
   border-top:1px solid #771E52;
   


}
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    animation: fadeEffect 1s; 
    display: none;
    padding: 0px 0px;
    margin-top: 0px
    height: 100%;

  }

.tabcontent2 {
    animation: fadeEffect 1s; 
    display: none;
    padding: 50px 50px;
    height: 100%;

  }

  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.speech-bubble {
    background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    
    text-align: center;
    padding: 20px;
    position: absolute;
}

.speech-bubble .arrow {
    border-style: solid;
    position: absolute;
}
 
.bottom {
    border-color: #c8c8c8 transparent transparent transparent;
    border-width: 8px 8px 0px 8px;
    bottom: -8px;
}


.right-column{
  padding:10px;
  margin-top:5px;
  background-color:#eee;
  font-size:13px;
}
.right-column:hover{  
  padding:10px;
  margin-top:5px;
  border-radius: 5px;
  background-color:#771E52;
  color:#fbf9f9;
}




.highlight{
  color:#771E52;
  font-weight:bold; ;
}

.mid-align{
  vertical-align: center;
}


  #Services {background-color: #fbf9f9;}
  #WorkAndCredits {background-color: #fbf9f9;}
  #Portraiture {background-color: #fbf9f9;}

  html {
    scroll-behavior: smooth;
  }

  .border-dark {
    border-color: #771E52 !important;
  }
  hr{
  border-top: 1px solid #710117;
  }

  .carousel-control-next
  {
    content: '>';
    font-size: 30px;
    color: #771E52;
  }
  .carousel-control-prev{
    content: '<';
    font-size: 30px;
    color: #771E52;
  }

  .card-title {
  	text-align:center;
  	color:black;
    font-size:15px;
  	
  }
  .hello{
    float:left;
    
    min-width: 100%;
  }



  .card-text {
  	text-align:center;
  	font-size:12px;
  	color:black;
  }

  a:hover{
  	text-decoration:underline;
  	color:#771E52;
  }

  a.hello:hover{
  	text-decoration:underline;
  	color:white;
  }



  .carousel-caption {
  	float:right;
  	width:75%;
  	position:relative;
    color: black;
    display:none;
  }

  .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }

  @media (min-width: 768px) and (max-width: 991px) {
      /* Show 4th slide on md if col-md-4*/
      .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
          position: absolute;
          top: 0;
          right: -33.3333%;  /*change this with javascript in the future*/
          z-index: -1;
          display: block;
          visibility: visible;
      }
  }
  @media (min-width: 576px) and (max-width: 768px) {
      /* Show 3rd slide on sm if col-sm-6*/
      .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
          position: absolute;
          top: 0;
          right: -50%;  /*change this with javascript in the future*/
          z-index: -1;
          display: block;
          visibility: visible;
      }
  }
  @media (min-width: 576px) {
      .carousel-item {
          margin-right: 0;
      }
      /* show 2 items */
      .carousel-inner .active + .carousel-item {
          display: block;
      }
      .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
      .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
          transition: none;
      }
      .carousel-inner .carousel-item-next {
          position: relative;
          transform: translate3d(0, 0, 0);
      }
      /* left or forward direction */
      .active.carousel-item-left + .carousel-item-next.carousel-item-left,
      .carousel-item-next.carousel-item-left + .carousel-item,
      .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
          position: relative;
          transform: translate3d(-100%, 0, 0);
          visibility: visible;
      }
      /* farthest right hidden item must be also positioned for animations */
      .carousel-inner .carousel-item-prev.carousel-item-right {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          display: block;
          visibility: visible;
      }
      /* right or prev direction */
      .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
      .carousel-item-prev.carousel-item-right + .carousel-item,
      .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
          position: relative;
          transform: translate3d(100%, 0, 0);
          visibility: visible;
          display: block;
          visibility: visible;
      }
  }
  /* MD */
  @media (min-width: 768px) {
      /* show 3rd of 3 item slide */
      .carousel-inner .active + .carousel-item + .carousel-item {
          display: block;
      }
      .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
          transition: none;
      }
      .carousel-inner .carousel-item-next {
          position: relative;
          transform: translate3d(0, 0, 0);
      }
      /* left or forward direction */
      .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
          position: relative;
          transform: translate3d(-100%, 0, 0);
          visibility: visible;
      }
      /* right or prev direction */
      .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
          position: relative;
          transform: translate3d(100%, 0, 0);
          visibility: visible;
          display: block;
          visibility: visible;
      }
  }
  /* LG */
  @media (min-width: 991px) {
      /* show 4th item */
      .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
          display: block;
      }
      .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
          transition: none;
      }
      /* Show 5th slide on lg if col-lg-3 */
      .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
          position: absolute;
          top: 0;
          right: -25%;  /*change this with javascript in the future*/
          z-index: -1;
          display: block;
          visibility: visible;
      }
      /* left or forward direction */
      .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
          position: relative;
          transform: translate3d(-100%, 0, 0);
          visibility: visible;
      }
      /* right or prev direction //t - previous slide direction last item animation fix */
      .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
          position: relative;
          transform: translate3d(100%, 0, 0);
          visibility: visible;
          display: block;
          visibility: visible;
      }
  }

  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #771E52;
    border: 1px solid #771E52;
    border-radius: 0.25rem;
  }

  .project-group {
    position: relative;
    float: left;

  max-width:100%;  
  padding: 5px;
    padding-left:15px;
  }

  }

  .image {
    opacity: 1;
    display: block;
    width: 300px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0.0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .project-group:hover .image {
    opacity: 0.1;
  }

  .project-group:hover .middle {
    opacity: 1;
  }

  .text-hover {
    color: black;
  }

  .project-title {
    font-size:16px;
  }

  @media (max-width: 1000px) {
    .navbar-header {
      float: none;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1);
    }
    .navbar-collapse.collapse:not(.in) {
      display: none !important;
    }
    .navbar-nav {
      float: none !important;
      margin: 7.5px -15px;
    }
    .navbar-nav > li {
      float: none;
    }
    .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  * {
    box-sizing: border-box;
  }



  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #771E52;
    top: 0;
    bottom: 0;  
    margin-left: -3px;
  }
    
  /* Container around content */
  .container2 {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
  }

  /* The circles on the timeline */
  .container2::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #771E52;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  /* Place the container to the left */
  .left {
    left: 0;
  }

  /* Place the container to the right */
  .right {
    left: 1.3%;
  }

  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }

  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #771E52;
    border-width: 10px 10px 10px 0;
    border-color: transparent #efefed transparent transparent;
  }

  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }

  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }

  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #771E52 transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }


  #header {
   
    
   
    
    width: 100%;
    transition: 0.2s;

  }
  #header-area{
   
   
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    height: 100%;
  }

  @media only screen and (max-device-width: 1366px) {
  #header-area {
    background-attachment: scroll;
  }

 .columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .price-header {
  background-color: #eee;
  color: #771E52;
  border-bottom:1px solid #771E52;
  font-size: 18px;
  padding:5px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-align: center;
  font-size:13px;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}

.slideshow-container {
  position: relative;
  background: #eee;
}

/* Slides */
.mySlides {
  display: none;
  padding: 20px 40px 10px 40px;
  text-align: justify;
  font-size:12px;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
 
  color: #771E52;
}

/* The dot/bullet/indicator container */

/* Add a background color to the active dot/circle */

/* Add an italic font style to all quotes */
.quote {font-style: italic;}

/* Add a blue color to the author */
.author {color: #771E52; padding-top:10px;font-weight: bold;}